@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

.ui.inverted.top.fixed.menu {
    background-color: #1a1b1f !important;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .6);
}

.ui.menu .header.item .ui.header {
    font-family: 'Reem Kufi', sans-serif;
}


footer {
    background-color: #131415 !important;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead img.ui.image {
    
    margin-top: 8em;
}
/*h1.ui.header {
    margin-bottom: 0em;
    font-size: 4em;
}
h2.ui.header {
    font-size: 1.7em;
}*/

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
/*    h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    h2.ui.header {
        margin-top: 0.5em;
        font-size: 1.5em;
    }*/
}



.small-divider {
    display: block;
    width: 50px;
    height: 2px;
    margin: 0 auto;
    background-color: #21ba45;
}