@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

body.pushable>.pusher {
    background-color: #e1e1e1 !important;
}

.menu-header .toc.item {
    display: none !important;
}

@media only screen and (max-width: 992px) {
    .menu-header .item{
        display: none !important;
    }
    .menu-header .toc.item {
        display: block !important;
    }
}